<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/priviliged/head" />
<body >
	<nav th:replace="fragments/priviliged/navAdmin" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="card mb-3" style="margin-top: 5%;">
				<div class="card-header">
					<i class="fa fa-cog" aria-hidden="true"></i> Modificar Umbrales
				</div>
				<div onload="rellenar()" class="card-body">

					<div style="margin-left: 2%; margin-right: 5%;" class="form-row">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<label class="input-group-text" for="propiedadUmbral">Seleccione una Propiedad: </label>
							</div>
							<select class="custom-select" name="propiedadUmbral"
								id="propiedadUmbral" onchange="comprobador()">
								<option value="TEMPERATURA">Temperatura</option>
								<option value="PRESION">Presión</option>
								<option value="HUMEDAD">Humedad</option>
								<option value="VELOCIDAD_VIENTO">Velocidad del Viento</option>
								<option value="VELOCIDAD_CIRCULACION">Velocidad de Circulación</option>
								<option value="NIVEL_POLUCION">Nivel de Polución</option>
								<option value="CALIDAD_AIRE">Calidad del Aire</option>
							</select>
						</div>
					</div>


					<div style="margin-left: 20%;" class="form-group row">

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Máximo</span>
							</div>

							<input type="text" class="form-control col-md-4"
								name="valorMaximo" id="valorMaximo">
							<div class="input-group-apend">
								<span class="input-group-text" id="valormaxUnd">ºC</span>
							</div>
							<div style="margin-left: 5%;"
								class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox"
									id="criticoMax" value="option1"> <label
									class="form-check-label" for="criticoMax">Crítico</label>
							</div>
						</div>

					</div>

					<div style="margin-left: 20.5%;" class="form-group row">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Mínimo</span>
							</div>

							<input type="text" class="form-control col-md-4"
								name="valorMinimo" id="valorMinimo">
							<div class="input-group-apend">
								<span class="input-group-text" id="valorminUnd">ºC</span>
							</div>
							
							<div style="margin-left: 5%;"
								class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox"
									id="criticoMin" value="option1"> <label
									class="form-check-label" for="criticoMin">Crítico</label>
							</div>
						</div>

					</div>

				<button type="button" class="btn btn-outline-success btn-lg btn-block">Cambiar</button>
				<button type="button" class="btn btn-outline-danger btn-lg btn-block">Cancelar</button>
				</div>

			</div>






			<!--  <div class="mb-0 mt-4">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th>Identificador</th>
						<th >Email</th>
						<th >Nombre</th>
						<th >Apellidos</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="operario : operariosList">
						<td th:text="${operario.identificador}">Id2</td>
						<td th:text="${operario.email}">pepe@uniovi.es</td>
						<td th:text="${operario.name}">Nombre del alumno</td>
						<td th:text="${operario.lastName}">Apellidos del alumno</td>
						<td ><div>
								
									<button type="button" th:id="${'addButton' + operario.id}"
										class="btn btn-info">Ver Incidencias</button>
									<script th:inline="javascript">
									/*<![CDATA[*/
									$("#addButton[[${operario.id}]]").click(function() {
										$.get("/admin/[[${operario.id}]]/incidencias", function(data){})
									});
									/*]]>*/
									</script>
						
							</div></td>
							
					</tr>
				</tbody>
			</table> -->
	
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="/startbootstrap/vendor/jquery/jquery.min.js"></script>
		<script
			src="/startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script
			src="/startbootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Page level plugin JavaScript-->
		<script src="/startbootstrap/vendor/chart.js/Chart.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="/startbootstrap/js/sb-admin.min.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/

			function comprobador() {
				var seleccionado = $("#propiedadUmbral option:selected").text();

				if (seleccionado === "Temperatura") {
					controlador("ºC", seleccionado);
				} else if (seleccionado === "Presión") {
					controlador("atm", seleccionado);
				} else if (seleccionado === "Humedad") {
					controlador("%", seleccionado);
				} else if (seleccionado === "Velocidad del Viento") {
					controlador("km/h", seleccionado);
				} else if (seleccionado === "Velocidad de Circulación") {
					controlador("km/h", seleccionado);
				} else if (seleccionado === "Nivel de Polución") {
					controlador("mg/m3", seleccionado);
				} else if (seleccionado === "Calidad del Aire") {
					controlador("índ.", seleccionado)
				}
			}

			function controlador(unidadMedida, seleccionado) {
				[[${valoresList}]].forEach(function(valor) {
					var value = $("#propiedadUmbral option:selected").val();
					if(valor.propiedad == value){
					$('#valorMinimo').val(valor.valorMin);
					$('#valorMaximo').val(valor.valorMax);
					$('#criticoMin').prop('checked', valor.minCritico);
					$('#criticoMax').prop('checked', valor.maxCritico);
					
					}
				});
				$("#valormaxUnd").text(unidadMedida);
				$("#valorminUnd").text(unidadMedida);
				
			}
			/*]]>*/
		</script>


	</div>
</body>
</html>