<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/priviliged/head" >
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->
	<nav th:replace="fragments/priviliged/nav" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">My Dashboard</li>
			</ol>
			<!-- Icon Cards-->
			<div class="row">
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-bookmark-o"></i>
							</div>
							<div class="mr-5">LIBRE</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="#">
							<span class="float-left">Detalles</span> <span
							class="float-right"> <i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-warning o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-bookmark-o"></i>
							</div>
							<div class="mr-5">LIBRE</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="#">
							<span class="float-left">Detalles</span> <span
							class="float-right"> <i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-success o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-bookmark-o"></i>
							</div>
							<div class="mr-5">LIBRE</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="#">
							<span class="float-left">Detalles</span> <span
							class="float-right"> <i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-danger o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-bookmark-o"></i>
							</div>
							<div class="mr-5">LIBRE</div>
						</div>
						<a class="card-footer text-white clearfix small z-1" href="#">
							<span class="float-left">Detalles</span> <span
							class="float-right"> <i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
			</div>
			<!-- Area Chart Example-->
			<div class="card mb-3" id="panelGraficoInci10">
				<div class="card-header">
					<i class="fa fa-bar-chart"></i> Gráfico de número de incidencias en
					los últimos 10 días
				</div>
				<div class="card-body">
					<select style="margin-bottom: 5%; margin-right: 4%;"
						class="form-control" name="category" id="category"
						onchange="comprobador()">
						<option value="TODAS" selected="selected">Cualquier
							Categoría</option>
						<option value="ACCIDENTE_CARRETERA">Accidente en
							Carretera</option>
						<option value="ACCIDENTE_AEREO">Accidente Aéreo</option>
						<option value="FUEGO">Incendio</option>
						<option value="INUNDACION">Inundación</option>
						<option value="METEOROLOGICA">Meteorología</option>
						<option value="AMBIENTE">Ambiente</option>
						<option value="AUTOMATICO">Automático</option>
						<option value="CONTAMINACION">Contaminación</option>
						<option value="VALOR_NO_ASIGNADO">Otro</option>
					</select>


					<canvas id="myAreaChart" width="100%" height="30"></canvas>
				</div>
				<!-- <div class="card-footer small text-muted">Updated yesterday at
					11:59 PM</div> -->
			</div>
			<div class="row">
				<div class="col-lg-8">
					<!-- Example Bar Chart Card-->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fa fa-bar-chart"></i> Incidencias en línea
						</div>
						<div class="card-body">
							<table class="table table-bordered" id="myInLineTable"
								th:fragment="refreshFragment">
								<thead>
									<tr>
										<th>Nombre incidencia</th>
										<th>Valor límite</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dT : ${dataTable}">
										<td th:text="${dT.nombreIncidencia}"></td>
										<td th:text="${#lists.containsAll(vCritics, dT.id_string)}? 'CRITICO':'NO CRITICO'"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- Card Columns Example Social Feed-->
					<div class="mb-0 mt-4">
						<i class="fa fa-newspaper-o"></i> Imagenes de algunas incidencias
					</div>
					<hr class="mt-2">
					<div class="card-columns">
						<!-- Example Social Card-->
						<div class="card mb-3" th:each = "url : ${urlImg}">
							<img class="card-img-top img-fluid w-100"
								th:src="@{${url.imageURL}}" alt="">
							<div class="card-body">
								<h6 class="card-title mb-1">
									<div th:text="${url.idAgente}"></div>
								</h6>
								<p class="card-text small" th:text="${url.descripcion}"></p>
							</div>
							<div class="card-footer small text-muted" th:text="${url.fechaEntrada}"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<!-- Example Pie Chart Card-->
					<div class="card mb-3" id="graficaCircular">
						<div class="card-header">
							<i class="fa fa-pie-chart"></i> Gráfico circular de estados
						</div>
						<div class="card-body">
							<canvas id="myPieChart" width="100%" height="100"></canvas>
						</div>
						<div class="card-footer small text-muted">Updated yesterday
							at 11:59 PM</div>
					</div>
					<!-- Example Notifications Card-->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fa fa-bell-o"></i> Localizaciones de las incidencias
						</div>
						<div class="card-body">
							<div id="map" style="width:500px; height:500px;">
							</div>
						</div>
						<button id="pintar" onclick="initMap()">Recargar Mapa</button>
						<div class="list-group list-group-flush small"></div>
						<div class="card-footer small text-muted">Updated yesterday
							at 11:59 PM</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			/*<![CDATA[*/
			
			var incidenceList = [[${incidenciasList}]];
			var marker;

			function initMap() {
				if (incidenceList.length > 0){
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom : 13,
					center : {
						lat : parseFloat(incidenceList[0].latitud),
						lng : parseFloat(incidenceList[0].longitud)
					}
				});
				} else {
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom : 13,
						center : {
							lat : 40.758541,
							lng : -73.984994
						}
					});
				}
				
				for (i = 0; i < incidenceList.length; i++) {
					marker = new google.maps.Marker({
						map : map,
						draggable : true,
						animation : google.maps.Animation.DROP,
						position : {
							lat : parseFloat(incidenceList[i].latitud),
							lng : parseFloat(incidenceList[i].longitud)
						}
					});
					marker.addListener('click', toggleBounce);
			    }
			}

			function toggleBounce() {
				if (marker.getAnimation() !== null) {
					marker.setAnimation(null);
				} else {
					marker.setAnimation(google.maps.Animation.BOUNCE);
				}
			}

			$(document).ready(initMap());

			/*]]>*/
		</script>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer th:replace="fragments/footer" />
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<!-- Bootstrap core JavaScript-->
		<script src="/startbootstrap/vendor/jquery/jquery.min.js"></script>
		<script
			src="/startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script
			src="/startbootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Page level plugin JavaScript-->
		<script src="/startbootstrap/vendor/chart.js/Chart.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="/startbootstrap/js/sb-admin.min.js"></script>
		<!-- Custom scripts for this page-->
		<script th:replace="fragments/graficas" />
	</div>
</body>

</html>
