<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>

<script language="javascript"> 
	var valorMin=0;
	var valorMax=10000;     
    function recibir() 
    { 
        valorMin = document.getElementsByName("Min").value; 
        valorMax = document.getElementsByName("Max").value; 
         
    }         
</script>  

<body>
	<nav th:replace="fragments/nav"/>
		<div class="container">
		

		<form class="form-horizontal" method="post" action="/operarios/administrador">
		<div class="table-responsive">
			<h3>Filtro de incidencias a mostrar en el control de mandos</h3>
				<form>
  					Valor minimo:<br>
 						 <input type="number" name="Min"><br>
 					Valor maximo:<br>
 						 <input type="number" name="Max"><br>
 					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-primary" onClick="recibir();">Guardar cambios</button>
						</div>
					</div>
				</form>
			<table class="table table-hover" th:fragment="tableInci"
				id="tableInci">
				<thead>
					<tr>
						<th >Nombre de incidencia</th>
						<th>Id del agente</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="inci : ${incidenciasList}"
							th:if="${inci.minimoValor}">valorMin"
								th:if="${inci.maximoValor}"<valorMax>
									<td style="width:150px; vertical-align:middle" th:text="${inci.nombreIncidencia}">Nombre de incidencia</td>
									<td style="width:150px; vertical-align:middle" th:text="${inci.idAgente}">Id del agente</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />

	<footer th:replace="fragments/footer" />
</body>
</html>